.productThumb{
    width: 100%;
    height: auto;
   border: 1px solid rgba(0, 0, 0, 0.2);
   overflow: hidden;
   border-radius: 15px;
   padding: 15px;
   position: relative;
}
.productThumb .title a{
    color: #000;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}
.productThumb .brand{
    color: rgba(0, 0, 0, 0.6);

}
.productThumb .brand a{
    text-decoration: none;
}
.productThumb .price{
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}
.productThumb .oldPrice{
  font-size: 14px;
  color: #000;
  text-decoration: line-through;
  opacity: 0.8;
}
.productThumb button{
    background-color: #3bb77e;
    color: #FFFFFF;
}
.productThumb .badge{
 position: absolute;
 top: 0;
 left: 0;
 display:  inline-block;
background: red;
font-size: 16px;
padding: 10px 25px;
border-bottom-right-radius: 50px;
border-top-left-radius: 5px;
} 
