.catSlideSection{
    width: 100%;
    height: auto;
}
.catSlideSection .hd{
    margin-bottom: 26px;
}
 .cat-slider-main .item{
    height: auto;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    cursor: pointer;
    justify-content: center;
}
.cat-slider-main .item .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.cat-slider-main .slick-slide{
    padding-right: 20px;
}
.cat-slider-main .item .info h6{
    font-weight: 600;
}
.cat-slider-main .item .info p{
    font-size: 14px;
    color: #000;
    opacity: 0.8;
    margin-bottom: 0px;
}
.cat-slider-main .item .info img{
    width: 80px;
}
.cat-slider-main  .slick-next{
top: -50px;
right: 0px;
}
.cat-slider-main  .slick-prev{
top: -50px;
left: inherit;
right: 80px;
}
.cat-slider-main .item:hover .info{
box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0, 0,0,0.23);
transform: scale(1.1);
}