.footerWrapper{
    padding: 45px 0px;
    width: 100%;
}
.footerWrapper .footerBoxes .box{
    background: #F4F6FA;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}
.footerWrapper .footerBoxes .box .info{
    padding-left: 25px;
}
.footerWrapper .footerBoxes .box .info h4{
    font-size: 25px;
    font-weight: 600;
}
.footerWrapper .footerBoxes .box .info p{
    opacity: 0.8;
}
.footerWrapper .footerBoxes .box img{
    position: relative;
    transition: all 0.3s ease-in-out;
}
.footerWrapper .footerBoxes .box:hover img{
   transform: translateY(-12px);
}
footer{
    padding-top: 40px;
}
footer p{
    font-size: 15px;
    line-height: 20px;
}
footer svg{
    color: #3bb77e;
}
footer .part2 h3{
    color:#000; 
    font-weight: 600;
    margin-bottom: 20px;

}
footer .part2 ul{
    padding: 0px;
}
footer .part2 ul li{
    list-style: none;
    margin-bottom: 13px;
}
footer .part2 ul li a{
    color: #000;
    opacity: 0.8;
    font-size:500;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
footer .part2 ul li a:hover{
    text-decoration: none;
    color: #3bb77e;
    opacity: 1;
    padding-left: 5px;
}